<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="header" style="position:sticky; top:0; z-index:1; background-color:white;">
    <div class="w-100">
        <header class="border-bottom lh-1 pb-3" style="background-color:#5383e8;">
            <div class="row flex-nowrap justify-content-between align-items-center" style="font-size:13px;">
                <div class="col-4" style="padding:70px 0px 0px;">
                    <a class="link-secondary mx-5"></a>
                    <a class="link-secondary" href="/admin/item/new" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">상품등록</a>
                    <a class="link-secondary mx-5" href="/admin/items" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">상품관리</a>
                </div>
                <div class="col-4 text-center">
                    <a class="blog-header-logo text-body-emphasis text-decoration-none" href="/">
                        <img src="/css/images/worksin.logo.png" style="max-width:50%; height:auto; padding-top:15px;">
                    </a>
                </div>
                <div class="col-4 d-flex justify-content-end align-items-center" style="padding:60px 0px 0px;">

                    <form class="d-flex" id="searchForm" style="margin-right: 30px;">
                        <input name="searchQuery" id="searchQuery" class="form-control" type="search"
                               placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-dark my-2 my-sm-0 btn-search" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
                                 stroke-linecap="round" stroke-linejoin="round" stroke-width="2" role="img"
                                 viewBox="0 0 24 24">
                                <title>Search</title>
                                <circle cx="10.5" cy="10.5" r="7.5" />
                                <path d="M21 21l-5.2-5.2" />
                            </svg>
                        </button>
                    </form>

                </div>
            </div>
        </header>
    </div>
</div>

</html>
