    html,body{
    position: relative;
    min-height : 100%;
    height:100%;
    margin: 0;
    background-color : #1f1f1f;
    }
     .content{
       margin-top : 50px;
       margin-left : 200px;
       margin-right : 200px;
       margin-bottom:50px;
       height : auto;
         min-height: 100%;
        }


   .footer{
   width:100%;

   position: relative;
   bottom:0;
   transform : translateY(-100%);
      padding : 15px 0;
      text-align:center;
   background-color : #1f1f1f;

   }
   .menu:hover{
               color:#fff !important;
           }
           .menu {
               text-decoration: none;
               margin-right: 60px;
               color: #888; /* 기본 색상 설정 */
           }
